@font-face {
    font-family: 'EightBitDragon';
    src: url('fonts/EightBitDragon.ttf');
}



:root {
    --dialog-color: #000;
    --dialog-border-width: 10px;
}

html,
body {
    height: 100%;
    margin: 0;
    font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 16) + 24px);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
button {
    font-family: unset;
}

body {
    font-family: "EightBitDragon", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#score {
    position: absolute;
    top: 30px;
    right: 30px;
    font-weight: 900;
}

#best-score {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 30px;
    left: 30px;
    font-weight: 900;
}

#introduction {
    width: 40%;
    height: 150px;
    position: absolute;
    top: 40%;
    font-weight: 600;
    font-family: "EightBitDragon", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    /*font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;*/
    text-align: center;
    transition: opacity 2s;
}

#restart {
    width: 13vw;
    height: 13vw;
    top: 40%;
    position: absolute;
    border-radius: 50%;
    color: white;
    background-color: red;
    border: none;
    text-align: center;
    font-weight: 700;
    font-size: 2.2vw;
    /*font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;*/
    display: none;
    cursor: pointer;
}

#perfect {
    position: absolute;
    opacity: 0;
    top: 45%;
    transition: opacity 2s;
}

.dialog-8bit {
    /*visibility: hidden;*/
    position: absolute;
    opacity: 0;

    top: 15vh;
    margin: 0 auto;
    min-width: 80%;

    float: left;
    border-left: var(--dialog-border-width) solid var(--dialog-color);
    border-right: var(--dialog-border-width) solid var(--dialog-color);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    transition: opacity .1s;
}

.dialog-8bit .container-8bit {
    position: relative;
    display: flex;
    flex-direction: row;
    color: var(--dialog-color);
    padding: 2rem 1rem;
    margin: calc(-1 * var(--dialog-border-width)) 0;
    border-top: var(--dialog-border-width) solid var(--dialog-color);
    border-bottom: var(--dialog-border-width) solid var(--dialog-color);
    box-sizing: border-box;
}

.dialog-8bit::before,
.dialog-8bit::after,
.dialog-8bit .container-8bit::before,
.dialog-8bit .container-8bit::after {
    content: '';
    width: var(--dialog-border-width);
    height: var(--dialog-border-width);
    display: block;
    position: absolute;
    background: var(--dialog-color);
}

.dialog-8bit::before { top: -5px; left: -5px }
.dialog-8bit::after { top: -5px; right: -5px }
.dialog-8bit .container-8bit::before { bottom: -5px; left: -5px }
.dialog-8bit .container-8bit::after { bottom: -5px; right: -5px }

.dialog-img {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10rem;
}

.dialog-img-space {
    width: 11rem;
}

#ron-phrase .container-8bit {
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.container-8bit-right {
    flex-direction: row-reverse !important;
}
.dialog-img-right {
    left: unset;
    right: 0;
}

@keyframes typing {
    from {
        width: 0
    }
}
@keyframes blink {
    50% {
        border-color: transparent
    }
}

.typing-ron-phrase {
    width: 18ch;
    animation: typing 1.8s steps(20), blink .4s step-end infinite alternate;
}

.typing-snake-phrase {
    width: 13ch;
    animation: typing 1.5s steps(15), blink .4s step-end infinite alternate;
}

.typing-germ-phrase {
    width: 15ch;
    animation: typing 1.5s steps(19), blink .4s step-end infinite alternate;
}

.typing {
    white-space: nowrap;
    overflow: hidden;
    border-right: 12px solid;
    font-family: "EightBitDragon", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;;
    font-size: 1em;
}

#sound {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity .4s;
}
.sound-icon {
    background-image: url("icons/sound.png");
    opacity: .8;
}
.no-sound-icon {
    background-image: url("icons/no-sound.png");
    opacity: .5;
}